header{
    margin: none;
    text-align: center;
    display: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: grey;
}
.columnaizq{
    position: absolute;
    left: 0px;
    top: 215px;
    background-color: lightblue;
    width: 25%;
    height: 100%;
    border-right: 1px solid black;
    text-align: center;
}
img{
    width: 30%;
    height: 30%;
}
.columnadrch{
    position: absolute;
    left: 905px;
    top: 215px;
    background-color: lightblue;
    width: 25%;
    height: 100%;
    padding: 20px;
    border-left: 1px solid black;
}
.centro{
    top: 215px;
    left: 350px;
    position:absolute;
    width: 40%;
    height: 100%;
}